<h2>New <%= @type %> assigned</h2>

<p>
  Hi <%= @name %>,
</p>

<p>
  There is a new <%= @type %> assigned to you, please see details here: <a href="https://plastic-advocacy.wwf.no/action/<%= @measure_id %>"><%= @title %></a>
</p>

<p>
  Thank you,
</p>

<p>
  Global Plastic Policy Team
</p>

---

<p>
  <em>
    This is an automated message sent by the <a href="https://plastic-advocacy.wwf.no">WWF Global Plastic Advocacy Tracker</a>.
  </em>
  <br>
  <em>
    Please send any feedback on data and content to (<a href="mailto:plasticpolicy@wwf.no">plasticpolicy@wwf.no</a>).
  </em>
</p>
